#AUTH PROVIDERS
REDIRECT_URL="https://auth.expo.io/@YOUR_EXPO_USERNAME/YOUR_APP_SLUG"

GOOGLE_OAUTH_APP_GUID=""
GOOGLE_WEB_CLIENT_ID=""
GOOGLE_OAUTH_SCOPE=""
GOOGLE_OFFLINE_ACCESS="true"
GOOGLE_AUTH_HOSTED_DOMAIN=""
GOOGLE_AUTH_IOS_CLIENT_ID=""


GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
UBER_CLIENT_ID=""
UBER_CLIENT_SECRET=""
SPOTIFY_CLIENT_ID=""
SPOTIFY_CLIENT_SECRET=""
# EXPO_PUBLIC_ is what all keys need to start with in expo 51+
# and use with process.env.EXPO_PUBLIC_* in code. Not secure
# See https://docs.expo.dev/guides/environment-variables/
# and  https://reactnative.dev/docs/security#storing-sensitive-info

